<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>An interactive story</title>
</head>
<body>

    <h1>An interactive story</h1>
    
    
    <h2> Chapter : {{.Title}} </h2>
    {{range .Story}}
    <p> {{.}} </p>
    {{end}}

    <h2> Next ? </h2>
    <ul>
        {{range .Options}}
        <li> <a href="{{.Arc}}">{{.Text}}</a>  </li>
        {{end}}   

    </ul>



    
    

</body>
</html>