<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>An interactive story</title>
</head>
<body>

    <h1>An interactive story</h1>
    
    
    <dt> Chapter : {{.Title}} </dt>
    
    

</body>
</html>